*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
    color: #222222;
    font-family: 'Nunito';
    font-style: normal;

}

.logo{
    padding-left: 70px;
    padding-top: 30px;
}
    .logo  a {
    text-decoration: none;
    color: #FFFFFF;
    font-style: normal;
    font-weight: 700;
    font-size: 21px;
    line-height: 26px;
}
.head{
    width: 100%;
    height: 80px;
    position: fixed;
    top: 0;
    z-index: 1064 ;
    background: #761C78;
}
.personal_info{
    width: 1306px;
    background: rgba(249, 249, 249, 0.5);
    border-radius: 20px;
    margin: auto;
    margin: 120px 69px 54px 69px;
    padding: 24px 0px 50px 30px;

}
.personal_info h3{
    padding-bottom: 32px;
    font-weight: 600;
    font-size: 24px;
    line-height: 33px;
    
}
.personal_info label, 
.personal_info p{
    font-weight: 600;
    font-size: 20px;
    line-height: 27px;
    padding-bottom: 8px;
    
}
.details_one{
    display: flex;
    width: 850px;
    justify-content: space-between;
    align-items: center;
    padding-top:16px;
    padding-bottom:25px;
}
#female{
    margin-left: 30px;
}
#name{
    padding-left: 10px;
    width: 850px;
    height: 54px;
    outline: none;
}
.dob{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.dob div{
}
#date,#month, #year{
    width: 150px;
    height: 45px;
    padding-left: 20px;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
}
#month, #year{
    
    margin-left: 20px;
}
.idcard{
    display: flex;
    width: 550px;
    justify-content: space-between;
    margin-top: 24px;

}
.idcard input{
    width: 200px;
    height: 45px;

}
.idcard label{
    padding-bottom: 8px;
}
.address input{
    width: 850px;
    height: 45px;

}
.address label{
    padding-bottom: 8px;
}
.idcard ::placeholder{
    text-align: end;
    padding-right: 20px;
    font-size: 18px;
    line-height: 25px;

}
.employment_info{
    width: 1306px;
    background: rgba(249, 249, 249, 0.5);
    border-radius: 20px;
    margin: auto;
    margin: 70px 69px 54px 69px;
    padding: 24px 0px 50px 30px;
}
.employment_info h3{
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 33px;
    padding-bottom: 32px;
}
.employment_status{
    display: flex;
    justify-content: space-between;
    width: 850px;
}
.employment_info h5{
    font-weight: 600;
    font-size: 20px;
    line-height: 27px;
    padding-bottom: 32px;

}
.job_status{
    display: flex;
    width: 60%;
    justify-content: space-around;
}
.job_status input{
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    color: #222222;
}
.credential_text{
    font-weight: 500;
    font-size: 20px;
    line-height: 27px;
    padding-bottom: 32px;
    width: 850px;
}
.credentials{
    width: 850px;
    height: 150px;
    margin-top: 12px;
}
/* Vechicle info */
.vehicle_info{
    width: 1306px;
    background: rgba(249, 249, 249, 0.5);
    border-radius: 20px;
    margin: 70px 69px 54px 69px;
    padding: 24px 0px 50px 30px;
    border:  1px solid black solid red;
}
.vehicle_info h3{
    
    padding-bottom: 32px;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 33px;
    color: #222222;
}
.vehicle_info label{
    margin-bottom: 8px;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 27px;
    
    color: #222222;
    
}
.vehicle_info input{
    margin-bottom: 24px;
    width: 380px;
    height: 54px;
    background: #FFFFFF;
    border: 0.5px solid #C4C4C4;
    border-radius: 2px;    
}
.vehicle_img input{
    text-align: right;
    padding-right: 10px;
}
.btn button{
    width: 220px;
    height: 60px;
    text-align: center;    
    background: #200937;
    color: whitesmoke;
    border-radius: 8px;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 30px;
    text-align: center;
}
form.success input {
    border: 2px solid#2ecc71;
}

form.error input {
    border: 2px solid #e74c3c;
}

form.error small {
    color: #e74c3c;
    visibility: visible;
}

form small {
    position: absolute;
    bottom: 0; 
    left: 0;
    visibility: hidden;
}
@media screen and (max-width:768px) {
    
    .personal_info{
        width: 100%;
        margin: auto; 
        margin: 90px 0px 0px 0px;
        padding-right: 40px;
        padding-left: 60px;
    }
    .logo{
        padding-left: 55px;
    }
    .personal_info h3{
        font-size: 20px;
        text-align: center;
        padding-bottom: 0;
    }
    .details{
        width: 100%;
        flex-direction: column;
        justify-content:flex-start;
        align-items: left;

    }
    .details_one{
        flex-direction: column;
        justify-content:flex-start;
        width: 100%;
        align-items: flex-start;

    }

    #name{
        max-width: 100%;

    }
    .address{
        margin-top: 0;
    }
    .address input{
        max-width: 100%;
        margin-top: 10px;
    }
    .address label{
        padding-bottom: 0px;
        margin-bottom: 0;
    }
    .idcard{
        flex-direction: column;
        padding-top: 20px; 
        width: 100%;
        margin-top: 0;
    }
    .sex{
        margin-bottom: 8px;
    }
    .dob{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        width: 100%;
        margin-bottom: 0;
    }
    .dob div{
        display:flex;
        flex-direction: column;
        justify-content: space-around;
        margin-top: 0;
    }
    .dob p{
        padding-bottom: 0;
    }
    #date{
        margin-top: 10px;
        width: 200px;
    }
    #month, #year{
        width:200px;
        margin-top: 10px;
        margin-left: 0px;
    }
    .idcard label{
        margin-bottom: 10px;
    }
    .employment_info{
        width: 100%;
        margin: 0px;
        padding-right: 40px;
        padding-left: 60px;
        margin-top: 0;
        margin-bottom: 0;
    }
    .employment_info h3{
        font-size: 20px;
        text-align: center;
        /* display: none; */
    }
    .employment_status{
        flex-direction: column;
        width: 100%;
    }
    .employment_status h5{
        margin: 0;
        padding-bottom: 10px;
        font-size: 18px;
    }
    .credential_text{
        max-width: 100%;
        padding-top: 10px;
        text-align: left;
        line-height: 20px;
        font-size: 18px;
        border:  1px solid black solid rebeccapurple;
    }
    .credentials{
        width: 100%;
    }
    .job_status{
        flex-direction: column;
        width: 100%;
        height: 150px;
    }
    .job_status div{
        max-width: 100%;
    }
    .vehicle_info{
        width: 100%;
        margin: auto; 
        margin: 90px 0px 0px 0px;
        padding-right: 40px;
        padding-left: 60px;
    }
    .vehicle_info input{
        max-width: 100%;
    }
    .vehicle_info h3{
        font-size: 20px;
    }
    .vehicle_info label{
        font-size: 18px;
    }
}
